.advert {
    width:100%;
    background-color: rgb(218, 199, 28);
    height: 6rem;
    text-align: center;
    line-height:6rem ;
    color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: 8px;
}

.pay {
    width:6rem;
    font-size: 2rem;
    color: #fff;
    background-color: rgb(218, 199, 28);
    border-radius: 50%;
    line-height: 6rem;
    text-align: center;
    height: 6rem;
    margin: 0 auto;
}
.pay:hover,.advert:hover {
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}