.author_div {
    text-align: center;
}
.author_div div {
    margin-bottom: 1rem;
}

.author_slogin{
    color: rgb(187, 109, 109);
}
.author_description {
    color: #999;
}
.author_name{
    color: rgb(248, 111, 12);
    font-size: 1.6rem;
  

   
}
.account{
    background-color: #999;
    margin-left: .5rem;
    margin-right: .5rem;
}