.edit{
    background-color: #fff;
  
    overflow: hidden;
    height: 100%;
    border-bottom:1px solid #eee;
    border-radius: 8px;
    max-width: 1100px;
    margin: .4rem auto ;
}
/* .edit_center{
    max-width: 1100px;
    margin: 0 auto;
} */