html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body{
  background:url('../public/images/bg2.png') repeat;  
}

.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  margin:0 0.5rem .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  text-align: center;
}
.comm-main{
  margin-top: .5rem;
}
.classifyList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #eee;
  margin:5px
};
.detailed-content{
  padding: 1.3rem;
  font-size: 1rem;
}
.bread-div{
  padding: .5rem;
  border-bottom:1px solid #eee;
  background-color: #e1f0ff;
}
.detailed-title{
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.center{
  text-align: center;
}

code {
  display: block ;
   background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}

.title-anchor{
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .9rem !important;
  border-bottom: 1px dashed #eee;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);

}
.aside {
  position: fixed;
  z-index: 98;
  top: 216px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: calc((100vw - 70rem)/2 - 78px);
}
.aside_list {
  position: relative;
  flex-direction: column;
  margin-top: 16px;
  cursor: pointer;
  color: #969696;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
  background-color: #fff;
}
.aside_list:hover {
  cursor: pointer;
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  -webkit-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
.aside_click {
  background-color: #f5d266;
  color: #FFF;
}
.aside_count {
  text-align: center;
  color: #f7610a;
  margin-bottom: 16px;
  overflow: hidden;
  height: 19px;

}
.comment-action {
  padding-left: 8px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}
.comment_bottom {
  display: flex;
  justify-content: space-between;
  color: #f5d266;
}
.comment_bottom span {
  cursor: pointer;
  
}

.emojis_content {
  display: flex;
  width: 180px;
  flex-wrap: wrap;
}
.emojis_content li {
  margin: 5px;
  cursor: pointer;

}