html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body{
  background-color: #f6f6f6;  
}

.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  margin:0 0.5rem .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #eee;
  text-align: center;
}
.comm-main{
  margin-top: .5rem;
}
.classifyList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #eee;
  margin:5px
};
.detailed-content{
  padding: 1.3rem;
  font-size: 1rem;
}
.bread-div{
  padding: .5rem;
  border-bottom:1px solid #eee;
  background-color: #e1f0ff;
}
.detailed-title{
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.center{
  text-align: center;
}

code {
  display: block ;
   background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}

.title-anchor{
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .9rem !important;
  border-bottom: 1px dashed #eee;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);

}