

.comm_left{
  background-color: #FFF;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  /* opacity:0.8; */
  margin-bottom: .3rem;
  box-shadow: 0 10px 35px 2px #00000026, 0 5px 15px #00000012, 0 2px 5px -5px #0000001a;
}
.comm_right{
  /* background-color: #FFF; */
  margin-left: .5rem;
  /* padding:.3rem; */
  border-radius: .3rem;
  border-bottom:1px solid #eee;
  /* opacity:0.8; */
  
}
.comm_main{
  margin-top: .5rem;
}
.comm_crumb {
  padding: .5rem;
    border-bottom:1px solid #eee;
    background-color: #f0e2b7;
}